body
{
	background-color: #3BFF92;
}
div {
	text-align: center;
	font-size: 2.5em;
  width: 80px;
  height: 40px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  0%   {background-color:red; left:250px; top:0px;}
  15%  {background-color:aqua; left:250px; top:0px;}
  25%  {background-color:yellow; left:550px; top:0px;}
  50%  {background-color:blue; left:550px; top:20px;}
  65%  {background-color:#008080; left:250px; top:20px;}
  75%  {background-color:green; left:0px; top:20px;}
  80% {background-color:red; left:0px; top:0px;}
   100% {background-color:red; left:250px; top:0px;}
}
a {
  animation-duration: 20s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
	

h1{
color: red; 
  animation-duration: 10s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h2{ 
	color: red;
  animation-duration: 15s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
img{
	left: 50%;
	height: -50%;
	}
